{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="count">{{ template "count" . }}</div>
    <button hx-post="/count" hx-target="#count" hx-swap="innerHTML">
      Count
    </button>
  </body>
</html>
{{ end }}

{{ block "count" . }}
  Count: {{ .Count }}
{{ end }}
